<%if @operation.solve == @sol %>
	<%= @operation.total_time %>
	<br>
	<%= link_to "Siguiente operación!", new_operation_path %>
<%else%>
	<div class="panel panel-default">
	  <div class="panel-body">
	    <h3>Te equivocaste! Vuelve a probar</h3>
	    </div><form action=<%= answer_operation_path(@operation.id)%> method="post">
	<label><%= @operation.op1 %></label>
	<label><%= @operation.simbol %></label>
	<label><%= @operation.op2 %></label>
	<%= text_field_tag(:respuesta) %>
	<%= submit_tag("Send") %>
	</form>
	  </div>
	<h1>Estimacion</h1><p><%= @operation.estimation %></p>

<%= link_to "Export Data", download_path %>
<h2><%= link_to "Volver al menu principal", menu_principal_path %></h2>
<%end%>